{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
                <div class="card-header">
                    <h3>Upload Resume</h3>
                </div>
                <div class="card-body">
                    <p>Upload your resume to get started</p>
                </div>
                <form action="/" method="post" enctype="multipart/form-data">   
                    <div class="input-group">
                        <input type="file" name="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                        <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Submit</button>
                    </div> 
                </form> 
        </div>
    </div>
{% endblock %}