{% extends "layout.html" %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark-blue text-white">
                        <h3 class="text-center">Import Info</h3>
                    </div>
                    <div class="card-body">
                        <button class="btn btn-primary">Upload Resume/CV</button>
                        <button class="btn btn-primary">Linked In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
